---
import BaseHead from "../components/BaseHead.astro";
import Communities from "../components/Communities.astro";
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import Experiences from "../components/Experiences.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Interests from "../components/Interests.astro";
import OpenSourceContributions from "../components/OpenSourceContributions.astro";
import Projects from "../components/Projects.astro";
import Socials from "../components/Socials.astro";
import { SITE_DESCRIPTION } from "../consts";
import { socials } from "../pages/api/socials";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={`Joe Duncko's Resume`}
            description={SITE_DESCRIPTION}
        />
    </head>
    <body class="max-w-screen-lg m-auto p-4 pb-1 min-h-screen flex flex-col">
        <Header />

        <main class="flex-grow flex flex-col">
            {/* Wrapper that sets print width for whole resume */}
            <div class="print:min-w-[960px]">
                {/* TODO: move this to its own component */}
                <div class="flex justify-between mb-4 text-sm">
                    <div>
                        <h1 class="text-4xl">Joe Duncko</h1>
                    </div>

                    <div class="hidden print:flex flex-col items-end">
                        <div>
                            <a href="mailto:personal@JoeDuncko.com"
                                >personal@JoeDuncko.com</a
                            >{" "}
                            | <a href="tel:330-719-1223">(330) 719 - 1223</a> |{
                                " "
                            }
                            <a href="https://joeduncko.com/">JoeDuncko.com</a>
                        </div>

                        <div class="flex gap-2">
                            {
                                socials.map((social, i, array) => (
                                    <a
                                        href={social.link}
                                        class="flex gap-1 items-center"
                                    >
                                        <svg
                                            width="1em"
                                            height="1em"
                                            fill="currentColor"
                                            viewBox="0 0 16 16"
                                        >
                                            <path d={social.pathD} />
                                        </svg>{" "}
                                        {social.printFriendlyLabel}
                                        {i !== array.length - 1 && " | "}
                                    </a>
                                ))
                            }
                        </div>
                    </div>
                </div>

                <div
                    class="flex flex-col md:flex-row print:flex-row md:gap-8 print:gap-8"
                >
                    <div class="flex-1">
                        <Experiences />
                    </div>
                    <div class="flex-1">
                        <Education />
                        <Communities />
                        <OpenSourceContributions />
                        <Projects />
                        <Interests />
                        <Socials className="print:hidden" />
                        <Contact className="print:hidden" />
                    </div>
                </div>
            </div>
        </main>

        <Footer />
    </body>
</html>
