---
import { getUrl } from "../../utils/url";
---

<p>
    Oh, hi there! I actually keep most of the information on this site in JSON.
    You can access it directly here:
</p>

<ul>
    <li><a href={getUrl("/api/communities")}>Communities</a></li>
    <li><a href={getUrl("/api/experiences")}>Experiences</a></li>
    <li>
        <a href={getUrl("/api/openSourceContributions")}>Open Source Contributions</a>
    </li>
    <li><a href={getUrl("/api/projects")}>Projects</a></li>
    <li><a href={getUrl("/api/socials")}>Socials</a></li>
</ul>
