<p>
    Oh, hi there! I actually keep most of the information on this site in JSON.
    You can access it directly here:
</p>

<ul>
    <li><a href="/api/communities">Communities</a></li>
    <li><a href="/api/experiences">Experiences</a></li>
    <li>
        <a href="/api/openSourceContributions">Open Source Contributions</a>
    </li>
    <li><a href="/api/projects">Projects</a></li>
    <li><a href="/api/socials">Socials</a></li>
</ul>
