---
import DataCard from "./DataCard.astro";
import ExternalLink from "./ExternalLink.astro";

const { class: className, ...rest } = Astro.props;
---

<DataCard className={className} title="Contact">
    <ul>
        <li>
            <ExternalLink
                href={`mailto:personal@joeduncko.com`}
                title={`Email Joe Duncko`}
            >
                <FontAwesomeIcon icon={faEnvelope} /> Email
            </ExternalLink>
        </li>
    </ul>
</DataCard>
