---
import DataCard from "./DataCard.astro";
---

<DataCard title="Education">
    <p>
        Completed a Bachelor's degree in Computer Information Systems with a
        minor in Entrepreneurship at the Youngstown State University, Spring
        2017
    </p>
</DataCard>
