---
import DataCard from "./DataCard.astro";
import ExternalLink from "./ExternalLink.astro";
---

<DataCard title="Interests">
    <ul>
        <li class="mb-2">
            <h3 class="inline">Startups</h3> (Former founder, pitched to raise money,
            interned at a startup accelerator, participated in a startup accelerator
            and Y Combinator's Startup School.)
        </li>

        <li class="mb-2">
            <h3 class="inline">Hackathons</h3> (Co-founded{" "}
            <ExternalLink title="Visit HackYSU" href="https://hackysu.com/"
                >HackYSU</ExternalLink
            >, traveled to Yale, Georgia Tech, University of Michigan, and
            more.)
        </li>

        <li class="mb-2">
            <h3 class="inline">Bitcoin</h3> (A blog post I wrote in 2011 was referenced
            in{" "}
            <ExternalLink
                title="View journal"
                href="http://digitalcommons.law.lsu.edu/cgi/viewcontent.cgi?article=6425&context=lalrev"
            >
                a legal journal
            </ExternalLink>{" "}
            and{" "}
            <ExternalLink
                title="View book"
                href="https://books.google.com/books?id=GEx-BwAAQBAJ&pg=PT71&lpg=PT71&dq=joe+duncko&source=bl&ots=XW3ns3vAAE&sig=Qb3yHMtJh0hVHmCsiH6t5OzwQ6M&hl=en&sa=X&ved=0ahUKEwjSlfGg2PXRAhUs9IMKHT-2DzE4FBDoAQgkMAQ#v=onepage&q=joe%20duncko&f=false"
            >
                a book
            </ExternalLink>{" "}
            on the subject.)
        </li>
    </ul>
</DataCard>
