.markdown {
    @apply leading-relaxed;
    @apply mb-5;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote,
.markdown details {
    @apply mb-2;
}

.markdown summary:hover {
    cursor: pointer;
}

.markdown details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

.markdown summary {
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

.markdown summary {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.markdown details[open] {
    padding: 0.5em;
}

.markdown details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.markdown h2 {
    @apply text-4xl mt-4 mb-2 leading-snug;
}

.markdown h3 {
    @apply text-3xl mt-4 mb-2 leading-snug;
}

.markdown h3 {
    @apply text-2xl mt-4 mb-2 leading-snug;
}

.markdown h4 {
    @apply text-xl mt-4 mb-2 leading-snug;
}

.markdown h5 {
    @apply text-lg mt-4 mb-2 leading-snug;
}

.markdown a {
    @apply text-[#3668c7];
    @apply font-medium;
}

.markdown a:hover {
    @apply underline;
}

.markdown ul {
    @apply list-disc;
    @apply pl-8;
}

.markdown ol {
    @apply list-decimal;
    @apply pl-8;
}

.markdown :is(h2, h3, h4, h5, h6) a {
    @apply mr-2;
}

.markdown hr {
    margin: 1em 0;
}

.markdown pre {
    overflow-x: auto;
    margin-bottom: 0.5rem;
}

.markdown img {
    margin-bottom: 0.5rem;
}

/* Inline code styling only - not for code blocks */
.markdown :not(pre) > code {
    background-color: #f9f9f9;
    border: 1px solid #e1e4e8;
    font-family: "Courier New", Courier, monospace;
    color: #333333;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* For nested lists */
.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
    margin-bottom: 0;
}

.markdown figure img {
    margin: 0;
}

.markdown figure figcaption {
    font-size: small;
    font-style: italic;
}

.markdown blockquote {
    @apply border-l-2 border-gray-300 pl-4 italic;
    @apply text-gray-700;
}
